.header {
    line-height: 1;

    @include breakpoint("desktop") {
        padding: 20px 0;
    }

    &__body {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
        @include breakpoint("tablet") {
            gap: 40px;
        }

        @include breakpoint("desktop") {
            gap: 100px;
        }
    }

    &__logo {
        margin-right: auto;
    }

    &__logo-link {
        display: inline-block;
        padding: 22px 0;
    }

    &__burger {
        width: 34px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        @include breakpoint("desktop") {
            display: none;
        }
    }

    &__burger-line {
        display: block;
        width: 34px;
        height: 2px;
        background-color: $c-black;

        &::before,
        &::after {
            content: "";
            display: block;
            width: 34px;
            height: 2px;
            background-color: $c-black;
            position: absolute;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }
    }
}
