$fs-main-text: 16px;
$fs-main-title-desctop: 48px;
$fs-main-title-tablet: 36px;
$fs-main-title-mobile: 30px;
$fs-card-title: 23px;
$fs-card-title-mobile: 22px;
$fs-blog: 48px;
$fs-section-title: 28px;
$fs-text: 19px;
$fs-text-mobile: 18px;
$fs-footer-title: 32px;
$fs-footer-link: 18px;
$fs-24: 24px;
$fs-12: 12px;
$fs-nav: 14px;
$fs-26: 26px;
$fs-33: 33px;
